.about-container {
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
    background-color: hsla(132, 27%, 63%, 1);
}

.about-container p {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.6;
    white-space: pre-line;

}

.journal-title {
    font-size: 30px;
    text-align: center;
    padding: 20px;

}

.pop-up{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #A3C19A;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  display: block;
}