 .person-container {
    border: 5px solid black;
    display:flex;
    flex-direction: column;
  }
  .roles-container {
    border: 3px solid #A3C19A;
    display:flex;
    flex-direction: row;
    padding: 40px 10px;
    border-radius: 5px;
  }


  .delete-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #A3C19A;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  display: block;
}

  .update-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #A3C19A;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  display: block;
}


  .add-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: #A3C19A;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  opacity: 1;
  display: block;
}


.add-person-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 20px 0 10px 0;
  text-align: left;
  width: 100%;
  display: block;
}